<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="padding: 30px">
<p style="font-style: italic; font-weight: bold">
    <a style="font-style: italic; font-weight: bold" th:text="| Dear: ${orderEmailInfoDTO.createUserName}|"></a>
    <br/>&nbsp;&nbsp;&nbsp;&nbsp; 恭喜您兑换成功。具体信息如下：
</p>

<table>
    <tr>
        <td style="font-weight: bold">
            商品信息：
        </td>
        <td>
            <p style="font-style: italic; font-weight: bold" th:text="|  ${orderEmailInfoDTO.productName}|"></p>
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">
            商品价值：
        </td>
        <td>
            <p style="font-style: italic; font-weight: bold" th:text="|  ${orderEmailInfoDTO.productPrice} RMB|"></p>
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">
            价格：
        </td>
        <td>
            <p style="font-style: italic; font-weight: bold;color: blue;"
               th:text="|  ${#numbers.formatDecimal(orderEmailInfoDTO.price,0,'COMMA',0,'POINT')} 积分|"></p>
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">
            数量：
        </td>
        <td>
            <p style="font-style: italic; font-weight: bold;color: blue;"
               th:text="|  ${orderEmailInfoDTO.orderNum} 件|"></p>
        </td>
    </tr>
    <hr/>
</table>
</body>
</html>
